<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="style sheet"href="{%static"store/style.css"%}">
  </head>
  <body>
    <h1 class="hero">manisha Giri</h1>
    <h1 id="main">Backend develoer</h1>

    <div class="card"style="width: 18rem;">"
      <img src="{%static 'image/manisha.jpg'%}"class="card"alt="mistake">
      <div class ="card-body">
      <h5 class="card--title">Nickname:Mansu</h5>
      <p class="card-text"> my self Manisha_giri . I am from butwal-17, Motipur,Rupandehi</p>
      <a href="/" class="btn btn-primary">go somewhere</a>
      </div>
      </div>
  </body>
</html>
